name: Java CI with Maven and Docker

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B package -DskipTests --file pom.xml

      # 도커허브 로그인
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 이미지 빌드 및 푸시
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_REPO }}

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GCP VM
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.GCP_VM_IP }}
          username: ${{ secrets.GCP_VM_USER }}
          key: ${{ secrets.GCP_VM_SSH_KEY }}
          script: |
            cd /home/${{ secrets.GCP_VM_USER }}/project
            git pull origin main 
            
            # 2. .env 파일 생성
            printf 'RIOT_API_KEY=%s\nDB_USERNAME=%s\nDB_PASSWORD=%s\n' \
            '${{ secrets.RIOT_API_KEY }}' \
            '${{ secrets.DB_USER_NAME }}' \
            '${{ secrets.DB_PASSWORD }}' > .env
            
            # 3. 도커 허브에서 방금 빌드해서 올린 최신 이미지를 가져옵니다.
            docker-compose pull
            
            # 4. 빌드 과정 없이 바로 컨테이너만 교체합니다. (--build 제외)
            docker-compose up -d
            
            # 5. 안 쓰는 구버전 이미지 삭제
            docker image prune -f
