name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    # [수정] 환경 변수 설정
    env:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${{ secrets.DB_URL }}:${{ secrets.DB_PORT }}/${{ secrets.DB_SCHEMA }}
      SPRING_DATASOURCE_USERNAME: ${{ secrets.DB_USER_NAME }} 
      SPRING_DATASOURCE_PASSWORD: ${{ secrets.DB_PASSWORD }}
      RIOT_API_KEY: ${{ secrets.RIOT_API_KEY }} 
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml
