name: Java CI with Maven and Docker

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn -B package -DskipTests --file pom.xml

      # 도커허브 로그인
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 이미지 빌드 및 푸시
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ secrets.DOCKERHUB_REPO }}

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GCP VM
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.GCP_VM_IP }}
          username: ${{ secrets.GCP_VM_USER }}
          key: ${{ secrets.GCP_VM_SSH_KEY }}
          script: |
            # 폴더가 없으면 생성
            mkdir -p /home/${{ secrets.GCP_VM_USER }}/project
            cd /home/${{ secrets.GCP_VM_USER }}/project
            
            # 깃 설정이 안되어 있다면 초기화 (이미 되어있으면 무시됨)
            if [ ! -d ".git" ]; then
              git init
              git remote add origin https://github.com/${{ github.repository }}.git
            fi
            
            # 최신 코드 가져오기
            git fetch --all
            git reset --hard origin/main
            
            # .env 파일 생성
            echo "RIOT_API_KEY=${{ secrets.RIOT_API_KEY }}" > .env
            echo "DB_USERNAME=${{ secrets.DB_USER_NAME }}" >> .env
            echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env
            
            export DOCKERHUB_USERNAME=${{ secrets.DOCKERHUB_USERNAME }}
            export DOCKERHUB_REPO=${{ secrets.DOCKERHUB_REPO }}
            # 실행
            docker-compose pull
            docker-compose up -d
